.align-center{ text-align: center;}
.align-left{ text-align: left;}
.align-right{ text-align: right;}

form{ width: 100%;}

.section-poll{
  background-color: #fff;
  margin: 1% 0;
}
.votes-result span{
  padding: 5%; 
  i { margin-right: 1%; }
  &.yes_votes{color: green;}
  &.no_votes{color: red;}
}
