.align-center{ text-align: center;}
.align-left{ text-align: left;}
.align-right{ text-align: right;}

form{ width: 100%;}

.section-poll{
  background-color: #fff;
  margin: 1% 0;
}
.votes-result{
  .vote_option{
    display: inline;
    margin: 0 2%;
    form{ display: inline; }
    .result{
      padding: 3%;
    }
  }
  .yes_votes{color: green;}
  .no_votes{color: red;}
}
